/*
* There is nothing intresting here >_> 
* code by XYKbear
*/

/* Common style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 100%;
    line-height: 1.5;
    color: #111;
    background-color: #CCC;
    font-family: "Segoe WP Light", "Microsoft YaHei", "SimSun", "Arial", "sans-serif";
}
a {
    text-decoration: none;
    color: currentColor;
}
a:hover {
    text-decoration: underline;
}
li {
    list-style-type: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    display: table;
    zoom: 1;
    width: 100%;
}

/* homepage */
.site {
    position: static;
}
.header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
.header.header_invert {
    background: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
.header_container {
    max-width: 1200px;
    margin: auto;
}
.site_tittle {
    text-indent: -99999px;
    width: 170px;
    height: 48px;
    display: block;
    float: left;
    background: url(logo.png) no-repeat;
    background-size: contain;
}
.nav {
    float: right;
    line-height: 45px;
}
.nav a {
    margin: auto 16px auto 16px;
    font-size: 1.5em;
    color: #FFF;
}
.cover {
    background: url(back.jpg) 50% 50% no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.copy {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #CCC;
}
.contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    -webkit-backface-visibility: hidden;
}
.contents section {
    padding: 20px 0;
    background-color: #EEE;
}
.inner_section {
    max-width: 1000px;
    padding: 0 50px;
    margin: auto;
}
.section_tittle {
    font-size: 4em;
    color: #666;
    margin-left: -20px;
}
.section_tittle span,
.contents_tittle span {
    font-size: 0.3em;
    color: #999;
}
.section_tittle span:before,
.contents_tittle span:before {
    content: "|";
}
.section_block {
    background-color: #FFF;
    padding: 20px;
    margin-left: -20px;
    margin-bottom: 20px;
}
.block_image,
.block_contents {
    width: 49%;
}
.contents_tittle {
    font-size: 2em;
    padding-bottom: 0.6em;
}
.contents_list li {
    color: #333;
    font-size: 1.2em;
}
.contents_list li:before {
    content: ">";
}
.contents_list li p {
    color: #666;
    font-size: 0.8em;
    padding-left: 1em;
}
.footer {
    color: #CCC;
    padding: 20px 0;
    background-color: #333;
}
.footer_copyright,
.footer_social {
    padding: 0 20px;
}
.social_list li {
    float: right;
    padding: 0 10px;
}
